In [4]:
import pandas as pd

In [5]:
df = pd.read_csv("titanic.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)

In [7]:
df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [8]:
inputs = df.drop('Survived',axis='columns')
target = df.Survived

In [29]:
from sklearn.preprocessing import LabelEncoder
le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

In [30]:
inputs['P_n'] = le_company.fit_transform(inputs['Pclass'])
inputs['S_n'] = le_job.fit_transform(inputs['Sex'])
inputs['A_n'] = le_degree.fit_transform(inputs['Age'])
inputs['F_n'] = le_degree.fit_transform(inputs['Fare'])

In [31]:
inputs

     Pclass  Sex        Age     Fare  P_n  S_n  A_n  F_n
0         3    1  22.000000   7.2500    2    0   28   18
1         1    2  38.000000  71.2833    0    1   52  207
2         3    2  26.000000   7.9250    2    1   34   41
3         1    2  35.000000  53.1000    0    1   48  189
4         3    1  35.000000   8.0500    2    0   48   43
..      ...  ...        ...      ...  ...  ...  ...  ...
886       2    1  27.000000  13.0000    1    0   35   85
887       1    2  19.000000  30.0000    0    1   24  153
888       3    2  29.699118  23.4500    2    1   39  131
889       1    1  26.000000  30.0000    0    0   34  153
890       3    1  32.000000   7.7500    2    0   43   30

[891 rows x 8 columns]

In [33]:
inputs_n = inputs.drop(['Pclass','Sex','Age','Fare'],axis='columns')
inputs_n

     P_n  S_n  A_n  F_n
0      2    0   28   18
1      0    1   52  207
2      2    1   34   41
3      0    1   48  189
4      2    0   48   43
..   ...  ...  ...  ...
886    1    0   35   85
887    0    1   24  153
888    2    1   39  131
889    0    0   34  153
890    2    0   43   30

[891 rows x 4 columns]

In [45]:
inputs.Sex = inputs.Sex.map({'male': 1, 'female': 2})

In [46]:
#inputs.Age[:10]

In [47]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())

In [48]:
inputs.head()

   Pclass  Sex   Age     Fare  P_n  S_n  A_n  F_n
0       3  NaN  22.0   7.2500    2    0   28   18
1       1  NaN  38.0  71.2833    0    1   52  207
2       3  NaN  26.0   7.9250    2    1   34   41
3       1  NaN  35.0  53.1000    0    1   48  189
4       3  NaN  35.0   8.0500    2    0   48   43

In [49]:
from sklearn.model_selection import train_test_split

In [50]:
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.2)
len(X_train)

712

In [51]:
len(X_test)

179

In [52]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [53]:
model.fit(inputs_n,target)

DecisionTreeClassifier()

In [ ]:
model.score(inputs_n,target)

0.9797979797979798

In [56]:
model.predict([[2,0,48,43]])

/opt/conda/lib/python3.10/site-packages/sklearn/base.py:409: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0])

In [57]:
#model.fit(X_train,y_train)

ValueError: Input X contains NaN.
DecisionTreeClassifier does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values